.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-top: 0px;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
 margin-left: 50px;
}
.top_navbar{
  position:fixed;
  left:0px;
  top:0px;
  height:100%;
  width:200px;
  margin-left: 0px;

  /* internally to this container, we want to use flex positioning of the menu elements */
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;

  background-color: rgba(177, 168, 255, 0.554);

}
.top_navbar ul{
   list-style-type: none;
   padding:10px;
   margin:0px;
   margin-top: 40px;
}

.top_navbar li {
  border: black 1px solid;
  padding: 6px;
  margin-top: 5px;
}
